# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
android/Flutter/build/
android/Flutter/flutter_assets/
android/app/src/main/assets/flutter_assets/
android/app/src/main/res/raw/
android/ephemeral/
android/local.properties
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/.idea
android/.project
android/.settings
android/app/libs

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!/android/app/src/main/res/raw/keep.xml
!/web/favicon.png
!/Deliverables/

# Linux
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/ephemeral/

# macOS
macos/Flutter/ephemeral/
macos/Flutter/generated_plugin_registrant.swift
macos/ephemeral/

# Windows
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/ephemeral/

# Web
lib/generated_plugin_registrant.dart
